/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
$offWhite: #EEEEEE;
$lightGrey: #3D3D3D; 
$darkGrey: #333333;
$darkTeal: #0A5B57;
$teal: #097C71;
$orange: #F48B2C;
$green: #0FBC87;
$brightGreen: #17CC8A;


.wrap {
  width: 1040px;
}

.sIcons {padding-top: 15px;}
/************************************************************************************
*************************************************************************************

							      NAVIGATION

************************************************************************************
************************************************************************************/



.mobileNav {display: none; }

.iconNav {
	background-color: $brightGreen;
	padding: 28px 20px 24px 30px !important;
	height: 78px;
}

.bookNav {
	background-color: #0FBC87;
    padding: 28px 30px 25px 30px !important;
    height: 78px;
    margin: -5px !important;
}

.iconNav .fa:hover, .bookNav .book:hover {
	color: $darkTeal;
}


.deskNav {
	display: block;
	width: 100%;
	height: 78px;
	background-color: $darkTeal;
	opacity: 1;
	font-weight: bold;
	top: 0;
	z-index: 999;
	position: sticky;
	
	.menu {
		text-align: center;
    margin: 0px;
    position: absolute;
    right: 0px;
    display: block;
		li {
		
	display: inline-block;
    padding: 28px 45px 0px 0px;
	letter-spacing: 2px;
    font-size: .9em;
			a {color: white;
				text-decoration: none;
		list-style-type: none;
			}}
	}
	
}

.menu li a:hover {
	color: $green;
}






/************************************************************************************
*************************************************************************************

							     4 Div

************************************************************************************
************************************************************************************/



.fourSec {
.fourCont {
  		display: -webkit-box;
 		display: -moz-box;
  		display: -ms-flexbox;
  		display: -webkit-flex;
  		display: flex;
 
  		-webkit-flex-flow: row;
  		justify-content: space-around;
		width: 100%;
		max-width: 1250px;
		margin: auto;
	.fourDiv {
		
		margin: 5px 5px;

		width: 24%;
		min-width: 180px;
		
	}
	}}

/************************************************************************************
*************************************************************************************

							     FOOTER
************************************************************************************
************************************************************************************/



.contactFoot {
.contact {
    width: 60%;
    left: 20%;}}




