/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/


@media (min-width: 1300px) {

.contactFoot {
.contact {
        width: 50%;
	left: 25%;}}
	
.halfBlock {

	.wrapper {
		
		.historyTeaser {

	padding: 70px 50px 70px 0px;

	
	}
}}
	
}


