/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/




@media (min-width: 700px) {
	
.bannerCopy {
	padding: 100px 30px 0px 30px;
	height: 350px;
}

	.fourIcons {padding-top: 0px;}

.quoteBox  {
	width: 240px;
    background-color: #0A5B57;
	position: relative;
    text-align: center;
	left: 0;
	height: 163px;
	margin: 0px;
    float: right;
	display: block;
}


.steps {
	.flexDiv {
		padding: 20px;
		width: 80%;
		.stepA {
			float: left;
			}
		.stepB {
			width: 100%;
			padding-left: 40px;
		}
	}
	}
	
.homeHead {
	height: 513px; }

	.backImg {height: 600px;}
	
	
}




/************************************************************************************
*************************************************************************************

							      GENERAL COLs

************************************************************************************
************************************************************************************/
@media (min-width: 640px) {
	
.cars {
	.flexCont {

  		display: -webkit-box;
 		display: -moz-box;
  		display: -ms-flexbox;
  		display: -webkit-flex;
  		display: flex;
		-webkit-flex-flow: row;
  		justify-content: space-around;
		width: 100%;
		max-width: 1250px;
		margin:auto;
	.flexDiv {padding: 20px;
		}}}
	
	
	}



@media (min-width: 865px) {
	
.homeService {padding: 70px 20px 150px 20px;}
	.serviceOpt {margin-bottom: 0px;}

.contactFoot {
	height: 530px;
	.contact {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row;
		justify-content: space-around;
		width: 70%;
		left: 15%;
		position: absolute;
		margin-top: -80px;
		.conS {padding: 0px 40px 20px 40px !important; }
	}
			img {
			position: static;
			width: 80px;
			float: right;
			margin: 420px 50px 30px 0px;
		}

		}
	}


/************************************************************************************
*************************************************************************************

							      CONTACT FORMs


.pop {
	height: 500px;
	max-width: 680px;
	overflow: hidden;
	margin: auto;
	.contactPop {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row;
		justify-content: space-around;
		padding-top: 50px;
	}
		.conS {
			padding: 30px 30px 5px 30px;
			width: 50%;

				}}
.pop > span {
  cursor: pointer;
  position: absolute;
  top: 4%;
  right: 4%;
  color: $green;
  padding: 6px 0px 0px 9px;
  width: 30px;
  height: 30px;
}


/********* STRIP FORM 

.contactForm input[type="text"], .contactForm select, .contactForm textarea, .contactForm.field {

	float: left;
	width: 23%;
	margin: 0 7px 0 0px;
}

.contactForm input[type="submit"] {margin: 0px;width: 23%;}

***********/