/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
$offWhite: #EEEEEE;
$lightGrey: #e5e5e5; 
$grey: #3d3d3d;
$darkGrey: #333333;
$darkTeal: #0A5B57;
$teal: #097C71;
$orange: #F48B2C;
$green: #0FBC87;
$brightGreen: #17CC8A;


/*********************
GENERAL STYLES
*********************/

.mobileLogo, .deskLogo {
	position: absolute;
    top: 16px;
    left: 18px;
    width: 268px;
	z-index: 999;
}


/************************************************************************************
*************************************************************************************

							    HOME HEADER

************************************************************************************
************************************************************************************/

@media (min-width: 900px) {
	
	.flexSec {
	.flexCont {

  		display: -webkit-box;
 		display: -moz-box;
  		display: -ms-flexbox;
  		display: -webkit-flex;
  		display: flex;
		
  
  		-webkit-flex-flow: row;
  		justify-content: space-around;
		width: 100%;
		margin:auto;
		
	.flexDiv {
		width: 100%;
		
		}
	
}}
	.sCat1 { flex-grow: 2;
		padding: 20px;}
	.sCat2 { flex-grow: 1;
		padding: 20px;}
	
	
.halfBlock {
	background: linear-gradient(90deg, $green 50%, $brightGreen 50%);
	.wrapper {
		display: -webkit-box;
 		display: -moz-box;
  		display: -ms-flexbox;
  		display: -webkit-flex;
  		display: flex;
		
  
  		-webkit-flex-flow: row;
  		justify-content: space-around;
		width: 100%;
		margin:auto;
		.historyTeaser {
	width: 50% !important;
	padding: 70px 50px 70px 30px;
	position: relative;
	z-index: 0;
	
	}
	.chimp {
		width: 50%;
		}}}



	
}









/************************************************************************************
*************************************************************************************

							      FOOTER

************************************************************************************
************************************************************************************/

/********* GENERAL SYLES ***********/
.contactContainer {
.contact {
		
		.floatLeft {
		width: 50%;
		float:left;
		}
		.floatRight {
		width: 50%;
			float: right;}
	}}

div#nf-form-1-cont {margin-top: 40px;}
/********* BOX FORM ***********/

.boxContact {width: 100%; 
	input[type="text"] {width: 49%;margin: 0px;}}



.boxContact textarea {
		float:right;
		width: 49% !important;
		height: 212px;
    	margin-top: -167px;
    	}


/************************************************************************************
*************************************************************************************

							      CONTACT

************************************************************************************
************************************************************************************/




