/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

$offWhite: #EEEEEE;
$lightGrey: #e5e5e5;
$grey: #3d3d3d;
$darkGrey: #333333;
$darkTeal: #0A5B57;
$teal: #097C71;
$orange: #F48B2C;
$green: #0FBC87;
$brightGreen: #17CC8A;



/*********************
GENERAL STYLES
*********************/

body {
	font-size: 100%;
	line-height: 1.5;
	color: $darkGrey;
	background-color: $offWhite;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	background-color: $offWhite;
	min-width: 320px;
	-ms-overflow-style: none;
    overflow: auto;

}




.wrapper {
		width: 100%;
		max-width: 1250px;
    	display: block;
    	margin: auto;
		}


#white { color: white !important;}
#center {text-align: center;}
#grey {color: $darkGrey;}
#green { color: $green;}
#orange {color: $orange;}



* {
  /* Calculation */
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}



h1 {
	font-weight: normal;
	letter-spacing: 1px;
	--max-size: 33;
  --min-size: 28;
  font-size: var(--responsive);
}

h2 {
	color: $orange;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: left;
	font-size: 16px;
}

h3 {
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0px;
	--max-size: 22;
  	--min-size: 20;
  	font-size: var(--responsive);
}

h5 {
	color: $teal;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	--max-size: 11;
  	--min-size: 10;
  	font-size: var(--responsive);
}

p, ul, li, input[type="button"], .serviceCopy {
	letter-spacing: 1px !important;
	hyphens: none;
	--max-size: 15 !important;
  	--min-size: 14 !important;
  	font-size: var(--responsive) !important;
}






/************************************************************************************
*************************************************************************************

							                      HEADER BANNER

************************************************************************************
************************************************************************************/



.backImg {
	background-color: $teal;
	position: fixed;
	z-index: -900;
	margin-top: -75px;
	width: 100%;
	height: 515px;
	overflow: hidden;
	}



.homeHead {
	width: 100%;
	height: 420px;
	overflow: hidden;
	}


.greenButton, .whiteButton, input[type="button"] {
	display: block !important;
	width: 150px !important;
	margin-top: 20px;
	line-height: 40px !important;
	padding: 0px !important;
	font-weight: bold !important;
	text-align: center !important;
	border-radius: 8px !important;
	height: 40px !important;
	margin: auto;
	border: none;
	font-family: 'Lato', sans-serif !important;
}

.greenButton, .nf-element {
	color: white;
	background-color: $green;
			}
.greenButton:hover {background-color: $brightGreen;}

.whiteButton {
	background-color: $offWhite;
	margin-top: 25px;
	color: $green !important;
			}
.whiteButton:hover {background-color: $lightGrey;}

.field-wrap input[type="submit"], .field-wrap input[type="button"], .field-wrap button {margin: auto;}


.quoteBox  {
	width: 80%;
    background-color: #0A5B57;
    text-align: center;
    padding: 10px;
	position:absolute;
	z-index: 1;
	left: 10%;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
 	display: -webkit-flex;
  	display: flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;

}

.bannerCopy::-webkit-scrollbar {
	display: none;
}


.bannerCopy {
	text-align: center;
	padding: 60px 30px 130px 30px;
	max-width: 780px;
	height: 350px;
	position: relative;
	z-index: 800;
	-ms-overflow-style: none;
    overflow: hidden;
    margin: auto;
	h3 {padding-bottom: 30px;}
}






/************************************************************************************
*************************************************************************************

							     HOMEPAGE SECTIONS

************************************************************************************
************************************************************************************/





.qSec {line-height: 9px;
	margin-bottom: 5px;}

/**
.mountain {
	background-image: url("/wp-content/themes/KTBonesTheme/library/images/mountainsBackdrop@2x.png");
	background-size: contain;
	background-color: $offWhite;
	background-position: center bottom;
	background-repeat: no-repeat;
	}
.trees {
	background-image: url("/wp-content/themes/KTBonesTheme/library/images/treesBackdrop@2x.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
	width: 100%;

}
**/

.fourIcons {
	width: 100%;
	background-color: $lightGrey;
	padding-top: 100px;
	.fourIcoFlex {
		display: -webkit-box;
 		display: -moz-box;
  		display: -ms-flexbox;
  		display: -webkit-flex;
  		display: flex;


  		-webkit-flex-flow: row;
  		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
		margin:auto;
		max-width: 1200px;
		.homeIco {
			width: 17%;
			margin: 20px;
			max-width: 150px;
			min-width: 110px;
			img {
				width: 70%;
				margin: auto;
				display: block;}
			h2 {
				text-align: center;}
		}}}


.mountain {
	background-color: $offWhite;
	position: relative;
	z-index: 0;
	}
.steps {
	width: 100%;

	padding: 30px 30px 1px 30px;
	.flexCont {
		padding: 30px 0px;
	.flexDiv {
		width: 100%;
		margin: auto;
		.stepA {
			width: 40px;
			margin: auto;
			img {
				width: 30px;
    			}}
		.stepB {
			width: 100%;
		}
		}}
	}

@media (min-width: 435px) {
	.fourIcons { padding-top: 50px;}
}


.steps hr {
	 border-bottom: dotted 4px $orange;
	border-top: none;
	color: $orange;


}

.car {
	width: 80px;
    padding: 40px 0px 0px 0px;
	margin-bottom: -12px;

}





 .sCat1 {
		width: 100%;
		display: -webkit-box;
  		display: -moz-box;
  		display: -ms-flexbox;
 		display: -webkit-flex;
  		display: flex;
	 	flex-wrap: wrap;
	  	justify-content: space-around;
	 	align-items: flex-start;

	.sIcons {
  		padding: 5px;
		min-width: 120px;
  		width: 19%;
		margin: auto;
		img {
			width: 60%;
			margin-left: 20%;
		}}
}



.homeService {
	background-color: $offWhite;
	position: relative;
	width: 100%;
	padding: 70px 30px 90px 30px;
	z-index: 0;
	hr {
		border-bottom: solid 4px $lightGrey;
	border-top: none;
	color: $lightGrey;
	margin: 50px 0px;
	}}

.halfBlock {
	width: 100%;
	.wrapper {
	padding: 0% !important;
	.historyTeaser {

	background: $green;
	width: 100%;
	padding: 70px 30px;

	}
	.chimp {
		background: $brightGreen;
		width: 100%;
		padding: 60px 30px;
		.fa {
			color: white;
			font-size: 2em;
			text-align: center;
			margin: 0 auto !important;
			display: block;
			border-bottom: 3px solid white;
			width: 70px;
			padding-bottom: 15px;
		}
		p {color: white;
			text-align:center;
			max-width: 360px;
			display: block;
			padding: 20px 0px 14px 0px;
			margin: 0 auto !important;}
		#mc_embed_signup {
			clear:left;
			background: $brightGreen;
		}
		}}}


.cars {
	padding-bottom: 30px;
	img {
		width: 90%;
		display:block;
		margin:auto;
		margin-bottom: -35%;
		z-index: 10;
	}
	.carName {
	background-color: $lightGrey;
    padding: 25% 20px 1px 16px;
    position: relative;
	z-index: -9;
		ul li {
			list-style-type: disc;
			margin-left: 20px;}
	}
}

.fleetInt {
	margin: 0px;

.intLinks  {
	display: inline-block;
	a {
	color: $darkGrey;
	background-color: $lightGrey;
	font-weight: bold;
	padding: 10px;
	}}}


/************************************************************************************
*************************************************************************************

							      SERVICES PAGE

************************************************************************************
************************************************************************************/



.serviceImg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	min-height: 250px;
			}
.serviceCopy { padding: 50px 30px;
	a {color: $darkGrey;
		font-weight: bold;}}


.serviceOpt {
	padding: 60px 30px 130px 30px;
    margin-bottom: -60px;
	background-color: $lightGrey;
	.fourCont {
		.fourDiv {
			.sIcons {
					width: 50px;
					float: left;
					}

			.sCat {
				padding-left: 60px;
				h2 {color: $teal !important;}
					}
		}}}

/************************************************************************************
*************************************************************************************

							    FLEET PAGE

************************************************************************************
************************************************************************************/

.fleet {padding: 60px 30px 50px 30px;}



/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
/************************************************************************************
*************************************************************************************

							      FOOTER

************************************************************************************
************************************************************************************/


.contactFoot {
	background-color: $darkGrey;
	height: 890px;
	-ms-overflow-style: none;
    overflow: auto;
	.contact {
	position: absolute;
    margin-top: -40px;
    width: 85%;
    left: 7.5%;
    background-color: #3d3d3d;
	overflow: hidden;
		.conS {
		padding: 20px 20px 5px 20px;
		width: 100%;
		min-width: 302px;

		}}

	p {color: white;}
	img {
		 width: 80px;
    margin: auto;
    display: block;
    position: relative;
    top: 788px;
	}
	a {
		margin-top: -5px;
		letter-spacing: 1px;
		font-weight: 700;
	}
	}

.fa {margin-right: 10px !important;}

.footerInput {padding: 10px !important;}
.nf-field-container, #ninja_forms_required_items {margin-bottom: 15px !important;}

.nf-form-fields-required {display: none;}

.pLine {line-height: 10px;}
/********* GENERAL SYLES ***********/



input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select, textarea, .field {
	background-color: white;
	display: block;
	font-size: .9em;
	max-width: none !important;

}
a {text-decoration: none;}

.btn:focus {
    outline: 0 !important;
}

.wpcf7 {
	width: 100%;
}


.contactForm {
	width: 100%;
	background-color: black;
	color: white;

}



textarea {padding: 10px;}

.contactForm input[type="text"], .contact select, .contact textarea, .contact.field {
	background-color: white !important;
	color: black;
	border-radius: 8px;
	display:block;
	float: none;
	width: 100%;
	margin: auto;

}



/********* SIDE FORM & COPY ******

.contact {
	h1 {text-align:center;}
	div { width: 100%;
		display:block;
		margin: 0 auto;
		 }}

.floatLeft {
	width: 90%;
	float:none;

		h4 {text-align: center;
			width: 180px;
			display: block;
			margin: 0 auto;
			&:nth-child(1){
				border-bottom: 1px solid yellow;
				padding-bottom:10px;
				margin-bottom: 10px;}
			&:nth-child(2) {
				padding-top: 20px 0px 10px 0px;}}

		p{text-align: center;padding: 5%;}}

.floatRight {
	width: 90%;
	float: none;}

*****/


/************************************************************************************
*************************************************************************************

							      NAVIGATION

************************************************************************************
************************************************************************************/

.deskNav {display: none;}

.mobileNav {
	display: block;
	position: sticky;
    top: 0;
	z-index: 999;
	}

.mobileLogo, .deskLogo {
	position: absolute;
    top: 21px;
    left: 18px;
    width: 185px;
	z-index: 999;
}


.mobileIcon a {
	display: inline !important;
	margin: 10px;}


div.bars {
  height: 30px;
  width: 40px;
  position: absolute;
  top: 11px;
  right: 20px;
  cursor: pointer;

}

div.x,
div.y,
div.z {
  position: absolute;
  margin: auto;
	z-index: 999;
  top: 0px;
  bottom: 0px;
  background: $brightGreen;
  border-radius: 2px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

div.x,
div.y,
div.z {
  height: 3px;
  width: 26px;
}

div.y {
  top: 18px;
}

div.z {
  top: 37px;
}

div.collapse {
  top: 20px;
  background-color: $brightGreen;
  -webkit-transition: all 70ms ease-out;
  -moz-transition: all 70ms ease-out;
  -ms-transition: all 70ms ease-out;
  -o-transition: all 70ms ease-out;
  transition: all 70ms ease-out;
}

div.rotate30 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transition: all 50ms ease-out;
  -moz-transition: all 50ms ease-out;
  -ms-transition: all 50ms ease-out;
  -o-transition: all 50ms ease-out;
  transition: all 50ms ease-out;
}

div.rotate150 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-transition: all 50ms ease-out;
  -moz-transition: all 50ms ease-out;
  -ms-transition: all 50ms ease-out;
  -o-transition: all 50ms ease-out;
  transition: all 50ms ease-out;
}

div.rotate45 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

div.rotate135 {
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

div.navbar {
  height: 72px;
  background-color: $darkTeal;

}

.show {display: block !important;}


div.circle {
  border-radius: 50%;
  width: 0px;
  height: 0px;
  position: fixed;
  display: none;
  top: 35px;
  right: 45px;
  background: $darkGrey;
  opacity: 1;
  -webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

div.circle.expand {
  width: 2600px;
  height: 2600px;
  z-index: 850;
  top: -560px;
  right: -500px;
  -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

div.menu {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 85px;
  left: 0px;
}

div.menu ul li {
  list-style: none;
  opacity: 0;
  width: 100%;
  text-align: center;
  font-size: 0px;
  margin: 0 0 30px 0;
  -webkit-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -moz-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -ms-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -o-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

div.menu ul li a {
  color: white;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 2px;
  display: block;
}

div.menu ul li a:hover {
  color: $brightGreen;
}

div.menu li.animate {
  font-size: 18px;
  opacity: 1;
  -webkit-transition: all 120ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -moz-transition: all 120ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -ms-transition: all 120ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -o-transition: all 120ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  transition: all 120ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

div.menu li.animate:nth-of-type(1) {
  top: 90px;
  transition-delay: 0.0s;
}

div.menu li.animate:nth-of-type(2) {
  top: 150px;
  transition-delay: 0.03s;
}

div.menu li.animate:nth-of-type(3) {
  top: 210px;
  transition-delay: 0.06s;
}

div.menu li.animate:nth-of-type(4) {
  top: 270px;
  transition-delay: 0.09s;
}

div.menu li.animate:nth-of-type(5) {
  top: 330px;
  transition-delay: 0.12s;
}

div.menu li.animate:nth-of-type(6) {
  top: 390px;
  transition-delay: 0.15s;
}


/************************************************************************************
*************************************************************************************

							      ABOUT

************************************************************************************
************************************************************************************/

.about {
	padding-bottom: 100px;
	.wrapper {
		padding: 60px 30px 50px 30px;
	}
}

span.author {
    height: 90px;
}


.timeline::-webkit-scrollbar {
    height: 2px;

}

.timeline::-webkit-scrollbar-track {
	background-color: $lightGrey;

}

.timeline::-webkit-scrollbar-thumb {
	background-color: $grey;
}



.timeline {
  padding: 0px 0px 30px 0px;
  height: 350px;
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  overflow-x: scroll;
	cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;


	li {
		 transition: all 200ms ease-in;
    	 display: flex;
		 display: -webkit-box;
    	 display: -moz-box;
         display: -ms-flexbox;
         display: -webkit-flex;
         display: flex;

		flex-direction: column;
         width: inherit;

	div {
	img {width: 75%;
		padding-bottom: 10px;}
		p {height: 70px;}
		} }
}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 20px;
  height: 2px;
  width: 300px;
  justify-content: center;
  border-top: 2px solid $lightGrey;
  position: relative;
  transition: all 200ms ease-in;
}
.status h4 {
  font-weight: 600;
}
.status:before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid $lightGrey;
    position: absolute;
    top: -9px;
    left: 47%;
    transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 2px solid $lightGrey;
}
.li.complete .status:before {
  background-color: $orange;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: $green;
}

/************************************************************************************
*************************************************************************************

							      MAILCHIMP

************************************************************************************
************************************************************************************/

#mc_embed_signup input {border: none !important;}
#mc_embed_signup input:focus {
	outline: 0 !important;
}


#mc_embed_signup input.email {
	width: 50% !important;
    min-width: 280px !important;
	margin: auto !important;
	max-width: 360px !important;
	border-radius: 8px !important;}



/************************************************************************************
*************************************************************************************

							      POP






.pop {
  display: none;
  position: fixed;
  z-index: 999;
  overflow: scroll;
  top: 10.3%;
  left: 10.3%;
  width: 80%;
  height: 80%;
 	background-color: #3d3d3d;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
	.contactPop {
	overflow: hidden;
		.conS {
		padding: 20px 20px 5px 20px;
		width: 100%;
		}}}



.pop > span {
  cursor: pointer;
  position: absolute;
  top: 4%;
  right: 4%;
  color: $green;
  padding: 6px 0px 0px 9px;
  width: 30px;
  height: 30px;
}

************************************************************************************
************************************************************************************/

/************************************************************************************
*************************************************************************************

							                      THANK YOU PAGE

************************************************************************************
************************************************************************************/
.thankYou {
	width: 100%;
	background-color: $offWhite;
	padding: 10% 20px 14% 20px;

	h1 {
			font-size: 9vw;
			color: $orange;
			margin: 0;
			text-align: center;
		}
h3 {
			font-size: 3vw;
			text-align: center;
		}
		a {
			text-decoration: none;
			p {
			text-align: center;
			font-weight: bold;
			color: $darkGrey;
			}
		}
}

/*********************
    404
*********************/


.mWrap  {
	background-color: $offWhite;
#missing {
	display: block;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
	text-align: center;
	min-height: 600px;
	width: 80%;
	max-width: 404px;
	padding-top: 10%;
	h2 {
		text-align: center;
		margin: 0px auto;;
		font-size: 45px;
		width: 100%;
	}
	svg {
		width: 100px;
		margin: auto;
		.error {fill: $orange;}

	}

	}}


/*********************
CLEARFIX
*********************/

.clearfix {
  overflow: auto;
}



.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
