/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal; 
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
@media (min-width: 700px) {
  .bannerCopy {
    padding: 100px 30px 0px 30px;
    height: 350px; }

  .fourIcons {
    padding-top: 0px; }

  .quoteBox {
    width: 240px;
    background-color: #0A5B57;
    position: relative;
    text-align: center;
    left: 0;
    height: 163px;
    margin: 0px;
    float: right;
    display: block; }

  .steps .flexDiv {
    padding: 20px;
    width: 80%; }
    .steps .flexDiv .stepA {
      float: left; }
    .steps .flexDiv .stepB {
      width: 100%;
      padding-left: 40px; }

  .homeHead {
    height: 513px; }

  .backImg {
    height: 600px; } }
/************************************************************************************
*************************************************************************************

							      GENERAL COLs

************************************************************************************
************************************************************************************/
@media (min-width: 640px) {
  .cars .flexCont {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    width: 100%;
    max-width: 1250px;
    margin: auto; }
    .cars .flexCont .flexDiv {
      padding: 20px; } }
@media (min-width: 865px) {
  .homeService {
    padding: 70px 20px 150px 20px; }

  .serviceOpt {
    margin-bottom: 0px; }

  .contactFoot {
    height: 530px; }
    .contactFoot .contact {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row;
      justify-content: space-around;
      width: 70%;
      left: 15%;
      position: absolute;
      margin-top: -80px; }
    .contactFoot img {
      position: static;
      width: 80px;
      float: right;
      margin: 420px 50px 30px 0px; } }
/************************************************************************************
*************************************************************************************

							      CONTACT FORMs


.pop {
	height: 500px;
	max-width: 680px;
	overflow: hidden;
	margin: auto;
	.contactPop {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row;
		justify-content: space-around;
		padding-top: 50px;
	}
		.conS {
			padding: 30px 30px 5px 30px;
			width: 50%;

				}}
.pop > span {
  cursor: pointer;
  position: absolute;
  top: 4%;
  right: 4%;
  color: $green;
  padding: 6px 0px 0px 9px;
  width: 30px;
  height: 30px;
}


/********* STRIP FORM 

.contactForm input[type="text"], .contactForm select, .contactForm textarea, .contactForm.field {

	float: left;
	width: 23%;
	margin: 0 7px 0 0px;
}

.contactForm input[type="submit"] {margin: 0px;width: 23%;}

***********/
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/************************************************************************************
*************************************************************************************

							    HOME HEADER

************************************************************************************
************************************************************************************/
@media (min-width: 900px) {
  .flexSec .flexCont {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    width: 100%;
    margin: auto; }
    .flexSec .flexCont .flexDiv {
      width: 100%; }

  .sCat1 {
    flex-grow: 2;
    padding: 20px; }

  .sCat2 {
    flex-grow: 1;
    padding: 20px; } }
/************************************************************************************
*************************************************************************************

							      FOOTER

************************************************************************************
************************************************************************************/
/********* GENERAL SYLES ***********/
.contactContainer .contact .floatLeft {
  width: 50%;
  float: left; }
.contactContainer .contact .floatRight {
  width: 50%;
  float: right; }

/********* BOX FORM ***********/
.boxContact {
  width: 100%; }
  .boxContact input[type="text"] {
    width: 49%;
    margin: 0px; }

.boxContact textarea {
  float: right;
  width: 49% !important;
  height: 212px;
  margin-top: -167px; }

/************************************************************************************
*************************************************************************************

							      CONTACT

************************************************************************************
************************************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.wrap {
  width: 1040px; }

.sIcons {
  padding-top: 15px; }

/************************************************************************************
*************************************************************************************

							      NAVIGATION

************************************************************************************
************************************************************************************/
.mobileNav {
  display: none; }

.iconNav {
  background-color: #17CC8A;
  padding: 28px 20px 24px 30px !important;
  height: 78px; }

.bookNav {
  background-color: #0FBC87;
  padding: 28px 30px 25px 30px !important;
  height: 78px;
  margin: -5px !important; }

.iconNav .fa:hover, .bookNav .book:hover {
  color: #0A5B57; }

.deskNav {
  display: block;
  width: 100%;
  height: 78px;
  background-color: #0A5B57;
  opacity: 1;
  font-weight: bold;
  top: 0;
  z-index: 999;
  position: sticky; }
  .deskNav .menu {
    text-align: center;
    margin: 0px;
    position: absolute;
    right: 0px;
    display: block; }
    .deskNav .menu li {
      display: inline-block;
      padding: 28px 45px 0px 0px;
      letter-spacing: 2px;
      font-size: .9em; }
      .deskNav .menu li a {
        color: white;
        text-decoration: none;
        list-style-type: none; }

.menu li a:hover {
  color: #0FBC87; }

/************************************************************************************
*************************************************************************************

							     4 Div

************************************************************************************
************************************************************************************/
.fourSec .fourCont {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
  width: 100%;
  max-width: 1250px;
  margin: auto; }
  .fourSec .fourCont .fourDiv {
    margin: 5px 5px;
    width: 24%;
    min-width: 180px; }

/************************************************************************************
*************************************************************************************

							     FOOTER
************************************************************************************
************************************************************************************/
.contactFoot .contact {
  width: 60%;
  left: 20%; }
.contactFoot .conS {
  padding: 40px 40px 20px 40px !important; }

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
